{% extends "layout.html" %}

{% block content %}

<!-- Include the drawer template -->
{% include "drawer.html" %}
{% include "info_drawer.html" %}

<!-- Drawer toggle button -->
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDrawer"
    aria-controls="offcanvasDrawer" id="drawer-toggle">
    ☰
</button>

<!-- Map container -->
<div id="map"></div>

<!-- Include the cloud slider template -->

<!-- Mapbox GL JS Initialization and Other Scripts -->
<script>
    // Mapbox GL JS initialization
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWRld2hpcnN0IiwiYSI6ImNseHZ4MXk0dDF6ZXYyanB0NGtob2Z3OXYifQ.dPt4lCIz5PLJU_sA22tvGQ';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-83, 42.1],
        zoom: 9
    });

    let currentMarker;
    let markersData = []; // Array to store marker data

    function addMarker(lng, lat) {
        // Remove the old bounding box before fetching new data
        removeBoundingBox();

        // Remove the existing marker, if any
        if (currentMarker) {
            currentMarker.remove();
        }

        // Create a new marker
        currentMarker = new mapboxgl.Marker({ color: 'black' })
            .setLngLat([lng, lat])
            .addTo(map);
        // Store marker data
        markersData.push({ longitude: lng, latitude: lat });

        // Prepare the popup content with centered "Coordinates" and "More Info" button
        const popupContent = `
            <div class="text-center">
                <h6 class="mb-2">Coordinates</h6>
                <p>Longitude: ${lng}<br>Latitude: ${lat}</p>
                <button id="more-info-btn" class="btn btn-primary mb-2">More Info Here</button>
                <button id="request-download-btn" class="btn btn-danger" disabled>Request scene download</button>
            </div>
        `;

        // Set the popup with the content
        const popup = new mapboxgl.Popup({ className: 'bootstrap-dark-popup' })
            .setHTML(popupContent);

        // Attach the popup to the marker
        currentMarker.setPopup(popup);

        // Open the popup
        popup.addTo(map);

        // Enable the download button if metadata is fetched
        updateGeneralInfo(lng, lat);
        
        // Attach the event listener after the popup is added to the map
        const popupElement = popup.getElement();
        popupElement.addEventListener('click', (event) => {
            if (event.target && event.target.id === 'more-info-btn') {
                // Open the right-side drawer and display data
                openInfoDrawer({ lng, lat });
            } else if (event.target && event.target.id === 'request-download-btn') {
                // Logic to handle the scene download
                checkSceneDownload();
            }
        });
    }

    function checkSceneDownload() {
        if (!currentDisplayId) {
            console.error('No display ID available for download.');
            return;
        }
        console.log('checking for download: ' + currentDisplayId);

        // Use URLSearchParams to append the display_id parameter correctly
        const url = new URL('/download', window.location.origin);
        url.searchParams.append('display_id', currentDisplayId);

        fetch(url, {
            method: 'GET'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to check download.');
            }
            return response.json();
        })
        .then(result => {
            if (result.exists) {
                alert('Data already exists, no need to download.');
            } else {
                isSceneDownloading();
            }
        })
        .catch(error => {
            console.error('Error checking download:', error);
            alert('Error checking download.');
        });
    }

    function isSceneDownloading() {
        if (!currentDisplayId) {
            console.error('No display ID available for download.');
            return;
        }
        console.log('checking for download status: ' + currentDisplayId);

        // Use URLSearchParams to append the display_id parameter correctly
        const url = new URL('/poll-download', window.location.origin);
        url.searchParams.append('display_id', currentDisplayId);

        fetch(url, {
            method: 'GET'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to check download status.');
            }
            return response.json();
        })
        .then(result => {
            console.log(result)
            if (result.is_downloading) {
                alert('Data is downloading, this can take up to 10 min.');
            } else {
                startSceneDownload();
            }
        })
        .catch(error => {
            console.error('Error checking download status:', error);
            alert('Error checking download status.');
        });
    }

    function startSceneDownload() {
        if (!currentDisplayId) {
            console.error('No display ID available for download.');
            return;
        }

        console.log('Starting Downloads: ' + currentDisplayId);

        fetch(`/download?display_id=${currentDisplayId}`, {
            method: 'POST'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to start download.');
            }
            return response.json();
        })
        .then(result => {
            if (result.success) {
                alert('Download started successfully. This can take up to 10 min');
            } else {
                alert('Failed to start download.');
            }
        })
        .catch(error => {
            console.error('Error starting download:', error);
            alert('Error starting download.');
        });
    }
    // Add marker from input
    function addMarkerFromInput() {
        const lng = parseFloat(document.getElementById('lng').value);
        const lat = parseFloat(document.getElementById('lat').value);

        if (!isNaN(lng) && !isNaN(lat)) {
            addMarker(lng, lat);
            map.flyTo({ center: [lng, lat], zoom: 12 });
        } else {
            alert('Please enter valid coordinates.');
        }
    }

    // Add marker on map click
    map.on('click', (event) => {
        const coordinates = event.lngLat;
        addMarker(coordinates.lng, coordinates.lat);

        // Update input fields
        document.getElementById('lng').value = coordinates.lng;
        document.getElementById('lat').value = coordinates.lat;
    });

    // Export data to CSV
    function exportToCSV() {
        let csvContent = "data:text/csv;charset=utf-8,Longitude,Latitude\n";
        markersData.forEach((marker) => {
            csvContent += `${marker.longitude},${marker.latitude}\n`;
        });
        const encodedUri = encodeURI(csvContent);
        const link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "markers_data.csv");
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    // Resize map when Offcanvas is shown or hidden
    const offcanvasDrawer = document.getElementById('offcanvasDrawer');
    offcanvasDrawer.addEventListener('shown.bs.offcanvas', () => {
        map.resize();
    });
    offcanvasDrawer.addEventListener('hidden.bs.offcanvas', () => {
        map.resize();
    });
    // Get references to the navbar collapse element and drawer toggle button
    const navbarCollapse = document.getElementById('navbarSupportedContent');
    const drawerToggleButton = document.getElementById('drawer-toggle');

    // Function to toggle the visibility of the drawer toggle button
    function toggleDrawerButton() {
        if (navbarCollapse.classList.contains('show')) {
            drawerToggleButton.style.display = 'none';
        } else {
            drawerToggleButton.style.display = 'block';
        }
    }

    // Listen for the 'shown' and 'hidden' events on the navbar collapse
    navbarCollapse.addEventListener('shown.bs.collapse', toggleDrawerButton);
    navbarCollapse.addEventListener('hidden.bs.collapse', toggleDrawerButton);

    // Initial check
    document.addEventListener('DOMContentLoaded', toggleDrawerButton);
</script>


{% endblock %}
