<!-- info_drawer.html -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="infoDrawer" aria-labelledby="infoDrawerLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="infoDrawerLabel">Info</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="infoDrawerContent">
        <!-- Include other sections -->
        {% include "drawer/general_info.html" %}
        {% include "drawer/passover_predictions.html" %}
        {% include "drawer/cloud_coverage.html" %}
    </div>
</div>

<script>
    function openInfoDrawer(data) {
        window.drawerData = { lng: data.lng, lat: data.lat };

        // Show the drawer
        const infoDrawer = new bootstrap.Offcanvas(document.getElementById('infoDrawer'));
        infoDrawer.show();

        // Attach event listeners to sections
        attachEventListeners();
    }

    function attachEventListeners() {
        // Attach listeners for each section
        attachCloudCoverageListeners();
    }

    function startFetchingAnimation(contentElement) {
        let dots = '';
        fetchingInterval = setInterval(() => {
            if (dots.length < 3) {
                dots += '.';
            } else {
                dots = '';
            }
            contentElement.innerHTML = `<p>Fetching${dots}</p>`;
        }, 500);
    }

    function stopFetchingAnimation() {
        clearInterval(fetchingInterval);
    }

    function formatDateTime(utcString) {
        const date = new Date(utcString);
        const options = {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit',
            hour12: false,
            timeZoneName: 'short'
        };
        return date.toLocaleString(undefined, options);
    }
</script>
